@{
  Layout = "_Layout";
}

<div class='container'>
    <div class="splash">
        <img href="" alt="placeholder"/>
        <a href="/game" class="btn btn-danger">Play Game</a>
    </div>
</div>
