@{
  Layout = "_Layout";
}

  <div class='container'>
    <div class="jumbotron">
      <h1>Mad Libs 2.0</h1>
    </div>
    <div class="form">
      <p>Fill out the fields below and hit submit to create a fun Mad Libs adventure:</p>
      <form id="madlibs-form" action="/word_counter_results" method="get">
        <div class="form-group">
          <label for="occupation">Occupation:</label>
          <input class="form-control" id="occupation" type="text" name="occupation" required>
        </div>
        <div class="form-group">
          <label for="nounOne">Noun One:</label>
          <input class="form-control" id="nounOne" type="text" name="nounOne" required>
        </div>
        <button id="form-submit" class="btn btn-danger" type="submit" name="button">Submit</button>
      </form>
    </div>
  </div>
