@{
  Layout = "_Layout";
}

<div class='container'>
    <p>Single: @Model.GetCleanWord()</p>
    <p>List: @Model.GetCleanList()</p>
    <p>Matches: @Model.GetFinal()</p>
    <a href="/">Try Again</a>
</div>
